

<h5 class="right-align">قم 20 متری شهید بهشتی مجتمع پزشکان بلوک 1 واحد 2 شرکت فرجاد پویش فرهام (فروشگاه اینترنتی جور کده)</h5>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6785022080353!2d50.878799314716595!3d34.66282139275478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDM5JzQ2LjEiTiA1MMKwNTInNTEuNiJF!5e0!3m2!1sen!2sua!4v1566816072897!5m2!1sen!2sua" height="450" style="border:0;width:100%;"></iframe>
