@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|حریم خصوصی";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
    <h1 class="right-align">حریم خصوصی</h1>
<p class="right-align">
    <h2>قوانین و مقررات عمومی</h2>
</p>
<p class="right-align">
    وب‌سایت جورکده محتوا مشروعیت و اعتبار خود را از قوانین حاکم بر جمهوری اسلامی ایران کسب می‌کند و شرایط و قوانین عمومی استفاده ازخدمات وب‌سایت، منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از مصرف‌کننده می‌باشد. کاربران گرامی در نظر داشته باشند که خرید از وب‌سایت
    جورکده
    به منزله مطالعه و پذیرش قوانین و مقرارت وب‌سایت بوده و کاربر مسؤلیت مطالعه مستمر صفحه قوانین و اطلاع از تغییرات احتمالی در قوانین وب‌سایت را پذیرفته است.
</p>

<p class="right-align">
    <h3>قوانین و مقرارات اختصاصی</h3> 
</p>
<p class="right-align">
    ابتدا قبل از هر پرداخت و سفارش انلاین با راه های ارتباطی درج شده تماس حاصل فرماییدو در مورد محصول خود اطمینان لازم حاصل فرمایید مسئولیت هرگونه پرداخت بدون اطلاعات  قبلی و یا خسارات وارده به کالاهای خریداری شده در زمان تحویل به عهده خود شخص می باشد <br />
    وب‌سایت جورکده تعهد می‌نماید پس از پرداخت آنلاین و نهایی شدن فرایند خرید، محتوای انتخاب شده را در زمان تعیین شده تولید نماید. <br />

    ·         محتویات استفاده شده در وب‌سایت جورکده متعلق به این شرکت بوده است و، استفاده به هر نحو از این سایت بدون ذکر منبع، غیر قانونی بوده و پیگرد قانونی خواهد داشت. <br />

    ·         مسؤلیت صحیح بودن اطلاعات ثبت شده در هنگام ثبت‌نام بر عهده‌ی خود مشتریان و کاربران خواهد بود.<br />

    ·         در مورد اطلاع از زمان تحویل محتوای خریداری شده بعد از ثبت‌نام، در قسمت تماس با ما با مسئولان فروش تماس حاصل نمایید.<br />

    ·         پس از ثبت سفارش شما در وب‌سایت، و کنسل کردن سفارش بعد از آن مستلزم پرداخت جریمه خواهد شد.<br />

</p>
