@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|راهنمای پرداخت";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
    <h1>راهنمای پرداخت</h1>
<h2>

    پرداخت اینترنتی



    کاربران جور کده می‌توانند در هنگام ثبت سفارش، از طریق درگاه اینترنتی، هزینه سفارش خود را به صورت آنلاین پرداخت کنند. پرداخت موفق هزینه به منزله ثبت قطعی این پرداخت برای سفارش است و پس از آن پیامکی مبنی بر ثبت موفق سفارش، برای کاربر ارسال می‌شود و نیازی به اطلاع‌ دادن پرداخت سفارش نیست و سفارش به صورت خودکار وارد مراحل آماده‌سازی و ارسال می‏‌شود.


    لازم به ذکر است که پرداخت اینترنتی باعث ایجاد الویت و تسریع در پردازش سفارش کاربران می‌شود.



    هنگام ثبت سفارش میتوانید پرداخت اینترنتی را انتخاب نمایید و بعد از وارد شدن به درگاه ،اطلاعات پرداخت خود را وارد کنید.



    برای پرداخت اینترنتی شما نیاز دارید به ;



    - شماره کارت  (شماره 16 رقمی روی عابر بانک )

    - رمز دوم کارت   (برای پرداخت اینترنتی لازم است قبلا رمز دوم (رمز خرید اینترنتی) کارت بانکی خود را فعال کرده باشید.
    برای فعال‌کردن رمز خرید اینترنتی، می‏‌توانید به دستگاه خودپرداز بانک صادرکننده کارت خود مراجعه، کارت خود را وارد کرده و بخش عملیات رمز را انتخاب کنید. سپس، در بخش رمز دوم یا رمز اینترنتی، رمز خود را انتخاب کنید.
    - CVV2    ( یک کد ۳ یا ۴ رقمی است که پشت یا روی کارت‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌های بانکی درج می‌شود و به‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌عنوان یک کد امنیتی در پرداخت‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌‌های اینترنتی کاربرد دارد )


    - تاریخ انقضاء    (تاریخ انقضا کارت‌ بانکی روی آن حک شده است. اگر روی کارت شما تاریخ انقضا وجود ندارد، می‏‌توانید از عدد ۱۲ به جای ماه و از ۹۹ به جای سال انقضای کارت استفاده کنید.)
</h2>
<p class="right-align">

    اطلاعات و شرایط لازم جهت مرجوعی وجه به مشتری




    - در صورت لزوم عودت وجه به حساب مشتری، اصل بر این است که مبلغ به شماره کارت واریز کننده توسط مشتری عودت خواهد شد.


    از آنجا که تمامی ماموران تحویل جور کده دستگاه‏‏‌های کارت‌خوان سیار (POS) همراه دارند، می‌توان هنگام تحویل سفارش در محل، با استفاده از کارت‌های عضو شبکه شتاب پرداخت خود را انجام داد.

</p>