@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|سفارش در جور کده";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی سفارش در جور کده";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";
    @using Microsoft.AspNetCore.Http.Extensions
    ViewData["url"] = Context.Request.Host + Context.Request.GetEncodedPathAndQuery();
    ViewData["image"] = "https://joorkadeh.com/images/joor.jpg";
}
<h1>سفارش</h1>
<h2>اطلاعات نحوه ثبت سفارش جور کده</h2>
<ul class="right right-align">
    <li>
        1.محصول مورد نظر خود را جستجو کنید.
    </li>


    <li>
        2. روی <h2>" افزودن به سبد خرید"</h2> کلیک کنید.

    </li>



    <li>
        3. در صورت تمایل می‌توانید تعداد مورد نیاز از کالای انتخابی را تغییر دهید.
    </li>
    <li>
        4. شما میتوانید آدرس خود را انتخاب یا وارد کنید.
    </li>


    <li>
        5.در نهایت بعد از پرداخت هزینه در درگاه بانکی محصول به ادرس وارد شده ارسال می شود
    </li>
</ul>