@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|تماس با ما";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
<h1>تماس با ما</h1>
<nav class="phonenav">
    <div class="container-fluid">

        <div class="row">
            <div>
                <h2>هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</h2>
            </div>
            <div>
                <h3> | شماره تماس : <a href="tel:+989189660086" title="">+989189660086</a> </h3>
            </div>
            <div>
                <h3> | شماره تماس : <a href="tel:+982537185340">+982537185340</a> </h3>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>آدرس ایمیل : <a href="mailto:mohammad0ramezani@gmail.com">mohammad0ramezani@gmail.com</a></h3>
            </div>
        </div>
    </div>

</nav>
