@model Order
@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|ورود اطلاعات";
 ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
<section id="cart_items">
    <div class="container">
        <div class="cart_info">
            <div class="description">
                <h1>تکمیل فرایند خرید</h1>
                <h2>لطفا مشخصات کامل خود به همراه آدرس دقیق پستی را ثبت نمایید</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Checkout" method="post">
                <h3>دریافت کننده</h3>
                <div class="form-group">
                    <label>نام:</label><input asp-for="Name" class="form-control" />
                </div>
                <h3>آدرس</h3>
                <div class="form-group">
                    <label>آدرس:</label><input asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>شماره تماس:</label><input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>شهر:</label><input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label>استان:</label><input asp-for="State" class="form-control" />
                </div>
                <div class="form-group">
                    <label>کد پستی</label><input asp-for="PostalCode" class="form-control" />
                </div>

                <div class=" form-group text-center">
                    <input class="btn-c btn-p" type="submit" value="تکمیل سفارش" />
                </div>
            </form>
        </div>
    </div>
</section>
