@model Product


@{
    
        foreach (var g in ViewBag.Property)
        {

        <div class="pheader"><span class="fa fa-angle-left "></span>@g.Name</div>
        foreach (var i in Model.ProductProperties.Where(c => c.Property.ParentId == g.PropertyID))
        {

        <div class="row dul">

            <div class="col-md-6 dli" ><p class="dff right-align" style="list-style:disc inside none;display:list-item;">@i.Property.Name</p></div>


            <div class="col-md-6 dli" ><p class="dfl left-align">@i.Value</p></div>

        </div>


        }

}
    }
