@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|عدم موفقیت در پرداخت";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
<div class="container">
    <h1>عدم موفقیت در پرداخت</h1>
    <h2>در حال حاضر امکان پرداخت وجود ندارد.</h2>
</div>