@model VerifyResponse
@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده|موفقیت در پرداخت";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
<div class="container">
    <h1>پرداخت شما با موفقیت انجام شد</h1>
    <h2>کد رهگیری  @Model.transId</h2>
</div>
