@model List<Category>
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name">
            <a href="@Url.Action("index","Home",new { CategoryId=0})" title="all">
                همه
            </a>
        </li>
        @foreach (var item in Model.Where(c => c.Clevel == 0))
        {
            @foreach (var itemm in Model.Where(c => c.Clevel == 1 && c.ParentId == item.CategoryID))
            {
                @foreach (var itemmm in Model.Where(c => c.Clevel == 2 && c.ParentId == itemm.CategoryID))
                {
                    <li itemprop="name">
                        <a itemprop="url" href="@Url.Action("index", "Home", new { CategoryId = itemmm.CategoryID })" title="@itemmm.Name">
                            @itemmm.Name
                        </a>
                    </li>
                    }
                }
            }
        </ul>
