@model List<Category>
    <ul>
        <li>
            <a href="@Url.Action("index","Home",new { CategoryId=0})">
                همه
            </a>
        </li>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("index","Home",new { CategoryId=item.CategoryID})">
                    @item.Name
                </a>
            </li>
        }
    </ul>
