
@{
    ViewData["Title"] = "فروشگاه اینترنتی جور کده حراج محصولات|نکات کلیدی علت حرف زدن در خواب";
    ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جورکده،حرف،حرف در خواب،خواب،حرف زدن در خواب";

    ViewData["url"] = Context.Request.Host + Context.Request.GetEncodedPathAndQuery();
    ViewData["image"] = "https://joorkadeh.com/images/balesh.jpg";
}

<article>
    <img src="~/images/khab.jpg" alt="بالش" title="بالش" width="300" class="img-responsive-s" style="margin:auto" />
    <h1 class="right-align"> حرف زدن در خواب</h1>

    <p class="right-align font-y">
        صحبت کردن در خواب ، که به طور رسمی با عنوان somniloquy شناخته می شود ، نوعی اختلال خواب است که به عنوان صحبت کردن بدون آگاهی در هنگام خواب تعریف می شود. صحبت کردن در خواب می تواند به صورت ، دیالوگ های پیچیده ، صحبت های تک نفره ، گفنگو های پیچیده یا زیر لبی حرف زدن باشد. خبر خوب این است که برای بسیاری از افراد ، این یک اتفاق نادر و کوتاه مدت است. هر کس می تواند صحبت کردن در خواب را تجربه کند ، اما این بیماری در مردان و کودکان شایع تر است.
    </p>
    <p class="right-align font-y">
        کسانی که در خواب صحبت می کنند معمولاً از رفتارها و گفتار خود آگاه نیستند. بنابراین ممکن است صدای آنها و نوع زبانی که استفاده می کنند متفاوت از گفتار حالت بیداری آنها باشد. صحبت کردن در خواب ممکن است به صورت خودجوش یا ناشی از مکالمه با ادم خواب الود باشد.
    </p>
    <p class="right-align font-y">
        اطلاعات کمی در مورد میزان خصحبت در خواب در دست است: علم خواب و قانون مدرن می پذیرد که صحبت کردن در خواب محصول ذهن آگاه یا عقلانی نیست و بنابراین معمولاً در دادگاه قابل قبول است.

    </p>
    <p class="right-align font-y">

        اگرچه از نظر جسمی مضر نیست ، صحبت کردن در خواب می تواند باعث خجالت شود و می تواند شریک خواب در اتاق یا هم اتاقی خود را آزار دهد یا در شرایط خواب گروهی اختلال ایجاد کند. به همین دلیل ، کسانی که در خواب صحبت می کنند گاهی می ترسند دور از خانه بخوابند و می توانند باعث ایجاد بی خوابی در شخصی که در همان نزدیکی خوابیده است بشوند.
    </p>
    <h2 class="right-align">علل صحبت کردن در خواب</h2>
    <p class="right-align font-y">
        صحبت در خواب ممکن است در اثر استرس ، افسردگی ، کمبود خواب ، خواب آلودگی در روز ، الکل و تب ایجاد شود. در بسیاری از موارد ، صحبت کردن در خواب در خانواده ها انجام می شود ، اگرچه به نظر می رسد عوامل بیرونی رفتار را تحریک می کند. صحبت کردن در خواب معمولاً همزمان با سایر اختلالات خواب مانند کابوس ، برانگیختگی گیج کننده ، وقفه تنفسی هنگام خواب و اختلال عملکرد REM خواب اتفاق می افتد. در موارد نادر ، صحبت مکرر هنگام خواب در بزرگسالان با یک اختلال روانپزشکی یا تشنج شبانه همراه است.
    </p>
    <h2 class="right-align">علائم صحبت کردن در خواب</h2>
    <p class="right-align font-y">
        صحبت کردن در خواب می تواند در هر مرحله از خواب اتفاق بیفتد. هرچه خواب سبک تر باشد ، گفتار قابل درک تر خواهد بود: در مراحل ١ و ٢ ، افراد ممکن است مکالمه کامل داشته باشند ، در حالی که در مراحل ٣ و ٤ ، گفتار ممکن است به ناله و حرف های شکسته محدود شود. علائم می توانند از نظر شدت و مدت زمان متفاوت باشند.
    </p>
    <h2 class="right-align">معیارهای شدت</h2>
    <p class="right-align font-y">
        خفیف: صحبت کردن کمتر از یک بار در هفته اتفاق می افتد ،
        معتدل: اپیزودها بیش از یک بار در هفته اما نه هر شب اتفاق می افتند و باعث ایجاد اختلال خفیف برای یک شریک زندگی می شوند
        شدید: اپیزودها هر شب رخ می دهد و ممکن است باعث اختلال در خواب شریک خواب شود.
    </p>
    <h2 class="right-align ">معیارهای مدت زمان</h2>
    <p class="right-align font-y">
        حاد: ١ ماه یا کمتر.
        نیمه حاد: بیش از ١ ماه اما کمتر از ١ سال.
        مزمن: ١ سال یا بیشتر.
    </p>
    <p class="right-align font-y">
        علاوه بر سخن گفتن در هنگام خواب ، علائم دیگر صحبت در خواب ممکن است شامل موارد زیر باشد:

        وحشت در خواب
        خواب گردی(راه رفتن در خواب)
        از خواب پریدن گیج کننده
        سندرم وقفه تنفسی در خواب
        اختلال رفتار REM خواب
        اختلالات روانی
        تشنج شبانه
    </p>
    <h2 class="right-align ">معیارهای مدت زمان</h2>
    <p class="right-align font-y">
        به طور کلی ، هیچ درمانی لازم نیست. با این حال ، اگر صحبت کردن در خواب شدید است یا به مدت طولانی ادامه پیدا می کند ، در مورد مشکل خود با پزشک یا ارائه دهنده خدمات بهداشتی صحبت کنید. ممکن است یک توضیح پزشکی اساسی برای صحبت کردن در خواب شما وجود داشته باشد(به عنوان مثال یک اختلال خواب تشخیص داده نشده یا اضطراب و استرس ).
    </p>
    <p class="right-align font-y">
        می توان اقدامات خاصی برای کاهش احتمال صحبت در خواب انجام داد. پیروی از برنامه منظم خواب ، دریافت مقادیر کافی خواب و تمرین صحیح بهداشت خواب می تواند به کاهش دفعات و شدت صحبت در خواب کمک کند. همچنین از الکل ، وعده های غذایی سنگین و استرس زیاد برای کاهش صحبت در خواب خودداری کنید.
    </p>
    <p class="right-align font-y">
        گوش گیر یا نویز سفید (مانند فن) برای شرکای تختخواب و هم اتاقی های شما ممکن است کمک کننده باشد.
    </p>
</article>



