
@{
      ViewData["Title"] = "فروشگاه اینترنتی جور کده|نتیجه تراکنش";
 ViewData["ShorDescription"] = "فروشگاه اینترنتی جور کده فروش بهترین محصولات و برند ها با قیمت مناسب و ارسال رایگان در سرتاسر کشور همراه با گارانتی اصل شرکتی";
    ViewData["KeyWords"] = "جور کده،فروشگاه اینترنتی جور کرده،فروش تشک،تشک رویا،تشک،خرید تشک،خرید تشک رویا،خرید محصول";

}
    <h1 class="right-align">نتیجه تراکنش</h1>
<h2 class="right-align">@ViewBag.result</h2>


